* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: italic;
}
body {
    line-height: 1.6;
    color: #333;
     background-image: url("https://images.unsplash.com/32/Mc8kW4x9Q3aRR3RkP5Im_IMG_4417.jpg?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
     background-size: cover; 
     background-position: center; 
     background-repeat: no-repeat; 
     background-attachment: fixed; 
}
header {
    background: peru;
    color: black;
    padding: 10px 0;
    text-align: center;
}
header h1 {
    margin-bottom: 10px;
}
nav ul {
    list-style: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin: 0 15px;
}
nav ul li a {
    color: #fff;
}
section {
    padding: 20px;
    margin: 20px 0;
    background: peachpuff;
    border-radius: 5px;
}
#about, #education, #skills, #projects, #contact {
    max-width: 800px;
    margin: 20px auto;
}
h2 {
    margin-bottom: 10px;
    color: #333;
}
ul {
    list-style-type: disc;
    margin-left: 20px;
}
footer {
    text-align: center;
    padding: 10px 0;
    color: white;
    margin-top: 20px;
}
.profile {
border-radius: 50%;
border-color: #fff;
max-width: 200px;
text-align: center;
margin: auto;
}
a {
    text-decoration: none;
}